
/Library
/Temp
/Logs
/Logs
*.log
Logs/AssetImportWorker1.log
Logs/AssetImportWorker0.log
UserSettings/EditorUserSettings.asset
UserSettings/Layouts/default-2022.dwlt
Logs/shadercompiler-UnityShaderCompiler.exe0.log
*.log
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1-prev.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-AssetImportWorker0.log
UserSettings/EditorUserSettings.asset
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1-prev.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
UserSettings/EditorUserSettings.asset
